{{> header }}

       
       <div class='main-content'>
               <h4>Search for the weather of your location</h4>

               <form>
                       <input placeholder="Location">
                       <button>Search</button>
               </form>

               <div id='Result'>
                       <p id='message-1'></p>
                       <p id='message-2'></p>
               </div>
       </div>

       <script src="./js/app.js"></script>
        
{{> footer }}